{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- Messages -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success w-50 mt-4 mx-auto text-center {{ message.tags }}" role="alert" style="font-size: 13px;">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-12 col-md-8">
        <div class="card mx-auto mb-4" style="max-width: 32rem;">
            <div class="card-body">
                <div>

                    <!-- Event Create Form -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-2" aria-placeholder="{{ field.name }}">{{ field }}</div>
                        {% endfor %}
                        <button class="btn btn-sm btn-primary" type="submit">Save</button>
                    </form>
                    <!-- Event Create Form End -->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}