{% load static %}

<header class="static-top">
  <nav class="navbar navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/events.png' %}">
      </a>

      <ul class="navbar-nav ml-0 ml-md-auto d-flex flex-row">

        <!-- Home Button -->
        <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
          <a href="{% url 'home_view' %}" class="text-decoration-none text-reset"><span class="nav__icons fa fa-home">Home</span></a>
        </li>

        <!-- Create View Button -->
        <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
          <a href="{% url 'event_create' %}" class="text-decoration-none text-reset"><span class="nav__icons fa fa-plus-circle">Create</span></a>
        </li>

      </ul>
    </div>
  </nav>
</header>